{:kotoba.app/id "cloud.itonami.isic-4322", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreih5z6xn75sb3qoqnegnfxvt3h7olg4qbwexgqzpyut2ieonnovib4", :kotoba.app/embed-url "ipfs://bafkreih5z6xn75sb3qoqnegnfxvt3h7olg4qbwexgqzpyut2ieonnovib4", :published {:archive "https://kotobase.net/ipfs/bafkreih5z6xn75sb3qoqnegnfxvt3h7olg4qbwexgqzpyut2ieonnovib4", :size 72710, :put-status 201, :get-status 200, :at "2026-08-15T13:59:51.325Z"}}
